<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Routing and Navigation
  </h1>
</div>
<nav class="design">
  <button (click) = "routeToDept()" >Departments</button>
</nav>
<router-outlet></router-outlet> <!--Here we are specifying wher the components has to be displayed ; Directive  available from router package -->
<!--as angular see it is going to render component associated to current route after outlet-->
<!--app home component is not in router outlet-->