/* You can add global styles to this file, and also import other style files */
nav a.active{
    color:red ;
}
.design{
    float: center;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
}